// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Typographic Variables
//////////////////////////////////////////////////////

// Guide

$font-family = 'Press Start 2P'

$font-weight = {
  regular: 400,
}

$letter-spacing = {
  normal: normal
}

// Universal Typographic Mixin
//////////////////////////////////////////////////////

// We use one, only one, Karl, a universal mixin for all cases!

$text($name)
  font-family $font-family
  letter-spacing $letter-spacing.normal

  if $name == "olga"
    font-size 44 * $pixel
    line-height 52 * $pixel
    font-weight $font-weight.regular
  if $name == "katya"
    font-size 36 * $pixel
    line-height 42 * $pixel
    font-weight $font-weight.regular
  if $name == "alina"
    font-size 26 * $pixel
    line-height 30 * $pixel
    font-weight $font-weight.regular
  if $name == "elena"
    font-size 18 * $pixel
    line-height 22 * $pixel
    font-weight $font-weight.regular
  if $name == "maria"
    font-size 15 * $pixel
    line-height 18 * $pixel
    font-weight $font-weight.regular
  if $name == "nina"
    font-size 13 * $pixel
    line-height 16 * $pixel
    font-weight $font-weight.regular
  if $name == "natasha"
    font-size 9 * $pixel
    line-height 12 * $pixel
    font-weight $font-weight.regular
